/*   DEFAULTS  */
nav, header, footer
{
    display: block;
}

body
{
    line-height: 1;
    margin: 0;
    font-family: Sofia Pro;
    font-weight: 200;
}

.container
{
    width: 100%;
    margin: auto;
    padding-bottom: 4%;
    padding-top: 4%;
}

.row
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row::after
{
    display: table;
    clear: both;
    content: "";
}

.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.33%;}
.col5{width: 41.66%;}
.col6{width: 50%;}
.col7{width: 58.33%;}
.col8{width: 66.66%;}
.col9{width: 75%;}
.col10{width: 83.33%;}
.col11{width: 91.66%;}
.col12{width: 100%;}


/*      Misc Styles      */
#container_gradient
{
    background:  #5D6795;
/*    background: -webkit-linear-gradient(#ECDBDB,#ECDBDB)*/
}

.intro
{
    align-content: center;
}

h1.header_1
{
    color: #F4866D;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    padding: px;
    line-height: 1.2em;
}

p.description
{
    font-size: 25px;
    color:  whitesmoke;
    text-align: center;
}
div.main
{
    position: relative;
    padding-left: 0;
}

div.main p
{
    color: #262729;
    font-size: 40px;
    padding: 50px;
    padding-bottom: 10px;
    margin-bottom: 2em;
    text-transform: capitalize;
}

div.main img
{
    display: block;
    width: 100%
    margin-top: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 42px;
    border-style: solid;
    border-color: #D5DDE6;
    border-width: 8px;
    border-radius: 20px;
}

div.main a
{
    position: absolute;
    bottom: 455px;
    left: 720px;
    color: #D5DDE6;
    text-decoration: none;
    font-size: 40px;
    float: left;
    margin-top: 0;
    margin-right: 1vw;
}

div.main a:hover
{
    color: #F4866D;
}

#twitch-embed
{
    margin-left: 27.5vw;
}


/*    NavBar    */
nav
{
    width: 100%;
    margin: 0;
    background-color: #262729;

}

ul.nav
{
    background-color: #262729;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.nav li
{
    list-style: none;
    float: left;
}

ul.nav li a
{
    display: block;
    text-decoration: none;
    min-height: 10px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: monospace;
    font-size: 20px;
}

ul.nav li a:hover
{
    color: #F4866D;
}

ul.nav li.dropdown
{
    display: none;
}



/*       Mobile        */
@media screen and ( max-width:680px )
{
    ul.nav li:not(:nth-child(1))
    {
        display: none;
    }
    ul.nav li.dropdown
    {
        display: block;
        float: right;
    }
    
    ul.nav.responsive li.dropdown
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    
    ul.nav.responsive
    {
        position: relative;
    }
    
    ul.nav.responsive li
    {
        display: inline;
        float: none;
    }
    
    ul.nav.responsive li a
    {
        display: block;
        text-align: left;
    }

    div.main
    {
        width: 100%;
        margin: 0;
    }
    div.main div
    {
        width: 100%;
        overflow: hidden;
    }
    
    div.main p
    {
        margin: 0;
        padding: 0;
        
        margin-left: 5px;
        margin-bottom: 10px;
    }
    div.main div img
    {
        width: 100%;
        display: flex;
        float: left;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        border: 0;
        border-radius: 0;
    }

    div.main a
    {
        overflow: hidden;
        display: none;
    }
}






